<!-- Modal -->
<div class="modal fade" id="add_collaborators" tabindex="-1" role="dialog" aria-labelledby="add_collaborators">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-md">
      
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
          <label class="label-text">Project</label>
          <h3 class="modal-title" id="add_collaborators"><%= project.name %></h3>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <h4>Here's who's on this project.</h4>
              <p>Invite people from your team or from your client and start working together in seconds. Anyone on your team will see everything posted to this project.</p>
              <br>
            </div>
            <div class="col-sm-6">
              <br/>
              <ul class="list-group">
                <% @project.users.each do |u| %>
                  <li class='list-group-item'><i class="material-icons">check</i><%= u.email %></li>
                <% end %>
              </ul>
              
            </div>
            <div class="col-sm-6">
              <div class="input-group">
                <i class="input-group-addon icon-user-follow"></i>
                <h5><%= text_field_tag 'email_address', nil, class: 'form-story width-100', placeholder: 'teammate@email.com' %></h5>
              </div>
              <br/>
              <button class="btn btn-primary btn-sm pull-right" data-dismiss="modal">Send Invitation</button>
            </div>
          </div>
        </div>
        
        
        <div class="modal-footer">
          <div class="row">
            <div class="col-sm-12 text-right">
              <div class="actions">

              </div>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>