<div class="row">
  <div id="section_empty" class="col-sm-12 animated fadeIn">
    <p class="empty_title">Nothing here...</p>
    <p class="empty_caption">Click the plus on the right to add your stories.</p>
  </div>
</div>