<div id="cta">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="wrapper clearfix">
          <h4>Try React now and take your own project to a whole new level.</h4>
          <a href="signup.html" class="button button-small">Sign up free</a>
        </div>
      </div>
    </div>
  </div>
</div>