<%= render "shared/normal_nav" %>

<div id="third-option">
    <div class="container">
      <div class="row header">
        <div class="col-md-12">
          <h3>Simple Prices. Serious Value.</h3>
          <p>All plans come with a risk-free 14-day free trial. Get started below! </p>
        </div>
      </div>

      <div class="row charts">
        <div class="col-md-12">
          <div class="chart first">
            <div class="plan-name">Startup</div>
            <div class="quantity">
              <span class="dollar">$</span>
              <span class="price">7</span>
              <span class="period">/month</span>
            </div>
            <div class="specs">
              <div class="spec">
                <span class="variable">5</span>
                team members
              </div>
              <div class="spec">
                <span class="variable">3</span>
                personas
              </div>
              <div class="spec">
                <span class="variable">Unlimited</span>
                projects
              </div>
              <div class="spec">
                <span class="variable">Unlimited</span>
                stories
              </div>
            </div>
            <a class="btn-signup button-clear" href="signup.html">
              <span>Start free trial</span>
            </a>
          </div>
          <div class="chart featured">
            <%= image_tag "ribbon.png", class: "popular", alt: "ribbon" %>
            <div class="plan-name">Agency</div>
            <div class="quantity">
              <span class="dollar">$</span>
              <span class="price">19</span>
              <span class="period">/month</span>
            </div>            
            <div class="specs">
              <div class="spec">
                <span class="variable">15</span>
                team members
              </div>
              <div class="spec">
                <span class="variable">Unlimited</span>
                personas
              </div>
              <div class="spec">
                <span class="variable">Unlimited</span>
                projects
              </div>
              <div class="spec">
                <span class="variable">Unlimited</span>
                stories
              </div>
            </div>
            <a class="btn-signup button-clear" href="signup.html">
              <span>Start free trial</span>
            </a>
          </div>
          <div class="chart last">
            <div class="plan-name">Enterprise</div>
            <div class="quantity">
              <span class="dollar">$</span>
              <span class="price">39</span>
              <span class="period">/month</span>
            </div>
            <div class="specs">
              <div class="spec">
                <span class="variable">Unlimited</span>
                team members
              </div>
              <div class="spec">
                <span class="variable">Unlimited</span>
                personas
              </div>
              <div class="spec">
                <span class="variable">Unlimited</span>
                projects
              </div>
              <div class="spec">
                <span class="variable">Unlimited</span>
                stories
              </div>
            </div>
            <a class="btn-signup button-clear" href="signup.html">
              <span>Start free trial</span>
            </a>
          </div>
          <div class="basic-plan">
            <div class="plan-name">Freelance</div>
            <div class="quantity">
              <span class="dollar">$</span>
              <span class="price">0</span>
              <span class="period">forever</span>
            </div>
            <p class="description">
              This plan is great if you're just getting started or only want quick user stories.
              <a href="signup.html">Start now</a>
            </p>
          </div>
        </div>
      </div>
      <br/>
      <br/>
      <div class="row faq">
        <div class="col-md-12">
          <div class="row header">
            <div class="col-md-12">
              <h3>Frequently Asked Questions</h3>
            </div>
          </div>
          <div class="row questions">
            <div class="col-md-6">
              <div class="question">
                <strong>Do I need a card to signup?</strong>
                <p>
                  There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
                </p>
              </div>
              <div class="question">
                <strong>Can I cancel at anytime?</strong>
                <p>
                  There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="question">
                <strong>Can I cancel at anytime?</strong>
                <p>
                  There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
                </p>
              </div>
              <div class="question">
                <strong>Do I need a card to signup?</strong>
                <p>
                  There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row contact">
        <div class="col-md-12">
          <div class="wrapper clearfix">
            <h4>
              <span class="brankic-phone2"></span>
              Unsure which plan is best for you? You can call our sales team any day at 
              <strong>1-800-123-4567</strong>
            </h4>
          </div>
        </div>
      </div> -->
    </div>
  </div>

  <%= render "shared/footer_white" %>
  