@import "bootstrap-sprockets";
@import "bootstrap";

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

a {
  color: #459CE7;
}

p {
  font-weight: 300;
}

.pagination>.active {
  >a,
  >span, 
  >a:hover, 
  >span:hover, 
  >a:focus, 
  >span:focus { 
    background-color: #5585B3;
    border-color: #4477A3;
  }
}
.pagination>li>a, 
.pagination>li>span {
  @include transition(all 0.25s linear);
}

.navbar-inverse {
  background-color: #2A2F41 !important;
  border-color: rgba(0,0,0,0) !important;
  background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.1) 26%, rgba(0, 0, 0, 0.35) 71%, rgba(0, 0, 0, 0.5) 100%);
  background: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.1) 26%, rgba(0, 0, 0, 0.35) 71%, rgba(0, 0, 0, 0.5) 100%);
  background: -o-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.1) 26%, rgba(0, 0, 0, 0.35) 71%, rgba(0, 0, 0, 0.5) 100%);
  background: linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.1) 26%, rgba(0, 0, 0, 0.35) 71%, rgba(0, 0, 0, 0.5) 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);

  .navbar-toggle {
    border-color: rgba(0,0,0,0) !important;
  }
}

.application.home .navbar-inverse {
  background: none !important;
  box-shadow: none;
}

.navbar.normal .navbar-brand {
    color: #fff;
    font-weight: 500;
    font-size: 21px !important;
    font-family: "Lato", "Helvetica Neue", Arial;
}

#signup .button-clear {
  display: block;
  font-size: 14px;
  padding-left: 23px;
  padding-right: 23px;
  height: 36px;
  line-height: 33px;
  border-radius: 4px;
  font-weight: bold;
  color: #444;
  text-shadow: 0 1px 0 white;
  background: #eff1f4;
  background: -webkit-linear-gradient(#f7f8fa, #eff1f4);
  background: -moz-linear-gradient(#f7f8fa, #eff1f4);
  background: -ms-linear-gradient(#f7f8fa, #eff1f4);
  background: -o-linear-gradient(#f7f8fa, #eff1f4);
  background: linear-gradient(#f7f8fa, #eff1f4);
  -webkit-box-shadow: inset 0 1px 0 white;
  -moz-box-shadow: inset 0 1px 0 white;
  -ms-box-shadow: inset 0 1px 0 white;
  -o-box-shadow: inset 0 1px 0 white;
  box-shadow: inset 0 1px 0 white;
  box-shadow: 0px 1px 2px 0px #999;
}

.application.devise.sessions.new,
.application.devise.registrations.new,
.application.devise.passwords.new {
  background: #2D3244;
}

.navbar-nav.navbar-right ul.normal-menu {
  // margin-top: 33px;
}

.home #hero .img {
  width: 440px;
}

.backend {
  background: #f1f3f3;

  .navbar {
    margin-bottom: 0px;
  }
}

.secondary-nav {
    background: #1E2432;
    box-shadow: 0px 0px 3px #bbb;
    margin-bottom: 60px;
    height: 100px;
    padding-right: 100px;

    h1 {
      font-size: 28px;
      margin: 15px 70px;
      color: #fff;
      font-weight: 300;
      font-family: "Lato", "Helvetica Neue", Arial;
      display: inline-block;
      padding-left: 20px;

      span {
        color: #999;

      }
    }

    #add_team_member {
      display: inline;
      border: 1px dashed #51596C;
      padding: 12px 15px;
      border-radius: 100px;
      color: #51596C;
      margin-left: 10px;
      margin-top: 7px;
      font-size: 16px;
    }

    .text-right {
      padding: 1px;

      img {
        margin: 7px;
      }
    }

    .btn {
      margin: 12px;
    }

    .back-button {
      font-size: 28px;
      position: absolute;
      left: 20px;
      top: 10px;
      height: 40px;

      i {
        color: #51596C;
        margin: 2px 15px;
      }

      a {
        text-decoration: none;
      }
    }



}

.projects,
.personas {

  &.container-fluid {
    padding: 0px 90px;
  }

  .panel {
    padding: 0;
    overflow: hidden;
    box-shadow: 0px 1px 3px #c8c8c8;
    border: none;
    // margin: 0px 10px;

    .panel-body {
      color: #999;

      h3 {
        margin: 0;
        color: #666;
      }
    }

    .panel-title {
       // wcolor: #333;
    }
  }
}

.project {
  padding: 15px 90px;

  .panel-group {

    .panel {
      box-shadow: none;

    }
  }
}

.nav.nav-tabs {
  background: #fbfbfb;
  border-radius: 0px;
  border-left: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.nav-tabs > li > a {
  border-radius: 0px;
  margin-right: 0px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  border-right: 1px solid #ececec;
}

.nav-tabs > li {

  &:first-child {
    a {
      color: cornflowerblue;
    }
  }

  &:last-child {

  }
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
  border-left: 1px solid rgba(255,255,255,0);
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  border-right: 1px solid #fff
}

.nav-tabs > li > a {
  padding-right: 50px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid rgba(255,255,255,0);
  border-right: 1px solid #ececec;
  color: #bbb;

  &:hover {
    background: #fff;
    border-left: 1px solid rgba(255,255,255,0);
    border-radius: 0px;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }
}

.nav-tabs > li > a:hover {
}

.tab-content {
  background: #fff;
  border: 1px solid #ececec;
  padding: 15px 20px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-bottom: 20px;

  blockquote {
    display: inline-block;
    font-size: 21px;
  }

  .media {
    margin: 10px 15px 15px;

    .media-object {

    }
  }
}

.panel-group .panel + .panel {
  margin-top: 0px;
  margin-bottom: 0px;
}

.panel-group .panel-title {
  font-size: 14px;
  line-height: 20px;
  color: #333;
  font-weight: 300;

  h4 {

    a {
      color: #333;
    }
  }
}

.margin-left {
  margin-left: 15px;
}
.margin-right {
  margin-right: 15px;
}

.btn {
  border-radius: 2px;
  font-weight: 300;
  font-family: "Lato", "Helvetica Neue", Arial;

  &.btn-default {
    color: #3A506B;
    background: none;
    border-color: #3A506B;
  }

  &.btn-primary {
    color: #fff;
    background: #3A506B;
    border-color: #3A506B;
    text-shadow: 0px 1px 1px #444;

    &:hover {
      background: #51596C;
    }
  }
}

.form-control {
  border-radius: 2px;
  padding: 22px 22px;
  font-size: 16px;
  font-weight: 300;
  border: 1px solid #ececec;
}

.placeholder {
  font-size: 16px;
  font-weight: 300;
  font-family: "Lato", "Helvetica", sans-serif;

  &::-moz-placeholder           { 
    font-size: 16px;
    font-weight: 300;
    font-family: "Lato", "Helvetica", sans-serif;

   } // Firefox
  &:-ms-input-placeholder       { 
    font-size: 16px;
    font-weight: 300;
    font-family: "Lato", "Helvetica", sans-serif;

   } // Internet Explorer 10+
  &::-webkit-input-placeholder  { 
    font-size: 16px;
    font-weight: 300;
    font-family: "Lato", "Helvetica", sans-serif;

   } // Safari and Chrome
}

.modal {
  margin-top: 100px;
}

.modal-backdrop {
  background: #1E2432;
  z-index: 1049;

  &.in {
    opacity: 1;
  }
}

button.btn {
    background: none;
    border: 1px solid #ececec;
}

.radio input[type="radio"], 
.radio-inline input[type="radio"], 
.checkbox input[type="checkbox"], 
.checkbox-inline input[type="checkbox"] {
  top: 2px;
}

.projects {

  .list-group {

    .list-group-item {
      padding: 0;
      border: none;
      background: none;

      a {
        padding: 10px 15px;
        background: #fff;
        border-radius: 2px;
        display: inline-block;
      }
    }
  }

  .panel-title {
    margin: 15px;
  }

  a {
    color: #23527c;

    &:hover {

    }
  }
}